<form [formGroup]="recipeForm" (ngSubmit)="onSubmitRec()">
  title:<input type="text" formControlName="title" /><br />
  description:<input type="text" formControlName="desc" /><br />
  image url :<input type="text" formControlName="img" /><br />
  Incrediants : <form [formGroup]="incrediantsForm" (ngSubmit)="onSubmitInc()">
    <input type="text" formControlName="incrediant" /><br />
    <button>Add</button>
  </form>
  <button>Add</button>
</form>

<app-recipe-card *ngFor="let a of recipeList" [recipe]="a"> </app-recipe-card>

<button (click)="goToFavo()">Favorites</button>

