<div *ngIf="noFav">
    <img src="https://media.tenor.com/BWPfBiOqbEsAAAAC/no-vadivelu.gif" alt="nothing" />
</div>


<div *ngFor="let recipe of favRecipes;let i = index" class="fav">
    <img src="{{recipe.img}}">
    <div class="tit-des">
        <h2>{{recipe.title}}</h2>
        <p>{{recipe.desc}}</p>
    </div>
    <div>
        <h4>Ingredients:</h4>
        <ul  class="ing">
            <li *ngFor="let inc of recipe.ingredients">
                {{inc}}
            </li>
        </ul>
    </div>
    <button class="btn" (click)="delete(i)">Delete</button>
</div>
