.fav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 250px;
    margin: 50px;
    padding: 20px;
    border-bottom: 2px solid rgba(208, 223, 229, 0.8);
    background-color: aliceblue;
    opacity: 85%;
}

img{
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.tit-des{
    width: 400px;
}

.ing{
    list-style: none;
   padding: 0;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media(max-width:1087px){
    .ingredient{
        display: none;
    }
    .tit-des{
        width: 200px;
    }
    .fav{
        height: 300px;
    }
}

@media(max-width:777px){
    .tit-des{
        display: none;
    }
}

@media(max-width:511px){
    .tit-des{
        display: none;
    }
    .fav{
        height: 400px;
    }
    
}