.info{
    height: 700px;
    /* display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-content: center;
    width: 500px;
    grid-template: repeat(auto-fit,minmax(200px,0));
}

img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}