.info{
    height: 1100px;
    display: grid;
    place-content: center;
    grid-template: repeat(auto-fit,minmax(200px,0));
    background-color: aliceblue;
    opacity: 90%;
    margin: 100px;
    padding: 10px;
}

img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}