<div class="body">
<div class="inc-det">
  <form
    class="example-form"
    [formGroup]="ingredientsForm"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Search By Ingredients</mat-label>
      <input matInput type="text" #ing formControlName="ingredient" />
      <mat-error *ngIf="ingredient?.errors?.['required']">
        Please fill the title
      </mat-error>
    </mat-form-field>
    <br />
    <!-- <button>Add</button> -->
  </form>
  <ul>
    <li *ngFor="let ingredient of ingredients">
      {{ ingredient }}
      <button (click)="removeIngredient(ingredient)">remove</button>
    </li>
  </ul>
</div>

<app-all-recipe [recipes]="filteredRecipes"></app-all-recipe>

</div>